[submodule "frontend"]
	path = frontend
	url = https://gitcode.com/robbluo/yuanrong-frontend.git
	branch = feature/sandbox
[submodule "datasystem"]
	path = datasystem
	url = https://gitcode.com/openeuler/yuanrong-datasystem.git
	branch = br_mix
[submodule "functionsystem"]
	path = functionsystem
	url = https://gitcode.com/robbluo/yuanrong-functionsystem.git
	branch = feature/sandbox
[submodule "sandbox-sdk"]
	path = sandbox-sdk
	url = https://gitcode.com/robbluo/yuanrong-sandbox-sdk.git
	branch = pr/sandbox-sdk-feature
